# Created by .ignore support plugin (hsz.mobi)
.idea

#Ignore Vendor folder
vendor/*

#Ignore .env file
.env

#Ignore css and js file
public/js/app.js
public/css
storage

#Ignore node module
node_modules/*

#Ignore error log
error_log

#Ignore webpack mix js
webpack.mix.js