# Created by .ignore support plugin (hsz.mobi)
.idea

#Ignore Vendor folder
vendor/*

#Ignore .env file
.env

#Ignore css and js file
storage/
storage/*
public/temp
public/temp/*

#Ignore node module
node_modules/*

#public/css

#Ignore error log
error_log

#Ignore webpack mix js
webpack.mix.js
public/mix-manifest.json
npm-debug.log
public/js/notification.js
public/js/fit-app.js