.tmargin-10
{
  margin-top: 10px !important;
}
.tpadding-20
{
	padding-top: 20px;
}
.second-bar {
  border-top: 1px solid #EEEEEE;
  padding-top: 10px;
  font-size: 16px;
}

.navbar.guest-nav {
  min-height: 72px !important;
  height: auto !important;
  position: static !important;
}
.navbar.guest-nav .navbar-brand.socialite {
  padding-top: 12px;
}
.navbar.guest-nav .navbar-form {
  margin-top: 10px;
}
.navbar.guest-nav .navbar-form .form-group {
  vertical-align: top;
}
.navbar.guest-nav .navbar-form .form-group .form-control {
  background: #F8FAFC;
}
@media (max-width: 768px) {
  .navbar.guest-nav .navbar-form .form-group .checkbox input[type="checkbox"] {
    margin-left: 0px;
  }
}
.navbar.guest-nav .navbar-form .mail-form {
  margin-right: 7px;
}
.navbar.guest-nav .navbar-form .checkbox,
.navbar.guest-nav .navbar-form .forgot-password {
  display: block;
}
.navbar.guest-nav .navbar-form .btn-submit {
  padding: 6px 12px;
}
.navbar.guest-nav .navbar-form .forgot-password {
  font-size: 11px;
  padding-top: 5px;
  text-align: right;
}
.welcome-message h2
{
	font-size: 26px;
	line-height: 15px !important;
	font-weight: 300;
}
.welcome-message
{
	padding-bottom: 25px;
}
.welcome-message p
{
  margin-bottom: 0px;
}
.register-heading
{
	font-size: 22px;
  line-height: 0px !important;
  font-weight: 300;
  margin-top: 10px;
  padding-bottom: 20px;
}
.features-list h2
{
	font-size: 22px;
  line-height: 0px !important;
  font-weight: 300;
  margin-top: 10px;
  padding-bottom: 20px;
}
.features-list li
{
	font-size: 16px;
  font-weight: 300;
  padding-top: 20px;
}
.features-list li i
{
	font-size: 26px;
  color: #7F8FA4;
  vertical-align: middle;
  padding-right: 10px;
}
.ft-card{
    min-height: 300px;
    width: 100%;
    background-color: #fff;
    border-radius: 2px;
    display: flex;
    min-width: 300px;
    flex-direction: column;
    margin-bottom: 16px;
}

.ft-card__img-wrapper {
    min-height: 200px;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
}

.ft-card__img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
    max-height: 204px;
}

.ft-card__primary {
    padding: 16px;
    font-size: 16px;
}

.ft-card__title {
    font-size: 16px;
    line-height: 24px;
    color: inherit;
}

.card-desc {
    color: rgba(0,0,0,.54);
    font-size: 14px;
    line-height: 20px;
}
.ft-card__list-wrapper {
    display: flex;
    flex-direction: column;
    font-size: 13px;
}
.ft-card__list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 15px;
}
.ft-card__list .icon {
    margin-right: 10px;
    height: 24px;
    width: 24px;
    line-height: 24px;
    text-align: center;
}

.main-content > .container > .row > .col-md-7.col-lg-6 {
    width: 100% !important;
}
.ft-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 16px;
    margin: 0 -16px;
}
.ft-grid__item {
    padding: 16px;
    width: 33.33333%;
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-property: all;
}
.md-drawer--permanent {
    width: auto;
    padding-right: 0px;
    padding-left: 0;
    padding-top: 64px;
    z-index: -1;
}
.md-drawer--permanent.md-drawer--visible {
    z-index: 1;
}
@media screen and (min-width: 960px) {
    .md-drawer {
        left: auto;
        right:0;
        width: 360px;
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
    .md-drawer--permanent {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
        max-width:100%;
        width: 360px;
    }
    .md-drawer--permanent .md-drawer__surface {
        -webkit-transform:translateX(360px);
        transform:translateX(360px);
        width:360px;
        max-width: none;
    }
    .md-drawer--animating .md-drawer__surface {
        -webkit-transform:translateX(360px);
        transform:translateX(360px)
    }

    body.has-permanent-drawer.is-drawer-open {
        padding-right: 360px;
        padding-left: 0 !important;
    }
}
@media (min-width: 600px) and (max-width: 959px) {
    .ft-grid__item{
        width: 33.3333%;
    }
    .ft-filter {
        flex-wrap: wrap;
    }
    .ft-filter  > fieldset {
        flex-basis: 33.3333%;
    }
    .post-filters .ft-card{
        height: 150px !important;
    }
}
@media screen and (max-width: 959px) {
    .ft-grid{
        margin-left:-8px;
        margin-right:-8px;
    }
    .post-filters .ft-card{
        min-width: 0;
        min-height: 100px;
        height: 200px;
        margin-bottom: 0;
    }
    .ft-grid__item{
        padding: 8px;
    }
    .post-filters .ft-card__img-wrapper{
        min-height: 100px;
    }
    .md-drawer--permanent{
        padding-top: 56px;
    }
    .no-margin-sm {
        margin-top: 0 !important;
    }
    .md-drawer--permanent .md-drawer__surface {
        max-width: 320px;
        -webkit-transform: translateX(-330px);
        transform: translateX(-330px);
    }
    .center-sm{
        text-align: center;
    }
    .ft-filter .form-group {
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-bottom: 8px !important;
    }
}
@media (max-width: 599px) {
    .ft-grid__item{
        width: 50%;
    }
    .post-filters .ft-card{
       height: 100px;
    }
    .ft-filter {
        flex-wrap: wrap;
    }
    .ft-filter  > fieldset {
        flex-basis: 100%;
    }
}
@media screen and (min-width: 960px) {
    body.is-drawer-open .ft-grid__item {
        width: 50%;
    }
}

@media (min-width: 1200px) {
    .main-content .container {
        max-width: 1170px;
        width: 100%;
    }
}
.ft-filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.ft-filter .form-group {
    margin: 0 15px;
    margin-bottom: 30px;
}
.dropdown-wrapper {
    position: absolute;
    top: 0;
    right: 0;
}
aside .ft-card__img-wrapper {
    margin-top: 4px;
}
.ft-event-card__title{
    font-size: 16px;
}
.md-dialog--center .md-dialog__wrapper{
    justify-content: center;
}
.item__background--post .img-responsive {
    max-height: 80vh;
    min-height: 200px;
}
.post-image--wrapper {
    min-height: 200px;
}
.md-dialog--theater .md-dialog__body {
    justify-content: flex-start; !important;
}