.timeline-posts{
}
.timeline-posts__item{
  border: none;
}
.link-preview
{
  border: 1px solid #EEE;
  margin: 7px 0px;
  padding: 5px;
}
.link-preview img
{
  width: 100%;
  height: auto;
}
.ft-user-name, .ft-hashtag, .hashtag {
  color: #1E7C82;
}

.panel-post .panel-footer.socialite {
  a .icon-like {
    color: #333;
  }
  a .icon-liked {
    color: #EB5757 !important;
  }
}
.flex-grow{
  flex-grow: 1;
}
.flex {
  display: flex;
}
.absolute{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
}

.panel-post .panel-footer.socialite .footer-list {
  display: flex;;
  flex-direction: row;
  flex-wrap: nowrap;
}

.full-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

[data-theme="blue"] .panel-default{
  background-color: #00A8FF;
}
[data-theme="pink"] .panel-default{
  background-color: #EB5757;
}
[data-theme="green"] .panel-default{
  background-color: #2ab27b;
}